/* General */

* {
	margin: 0;
	padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-center {
	text-align: center;
}

a {
	-webkit-transition: all 0.2s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.2s ease;/* Firefox 4-15 */
	-o-transition: all 0.2s ease;/* Opera 10.5-12.00 */
	transition: all 0.2s ease;/* Firefox 16+, Opera 12.50+ */
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

h1 {
	margin-top: 30px;
	margin-bottom: 25px;
	font-family: 'BioRhyme', serif;
	font-size: 62px;
	line-height: 1;
	font-weight: bold;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.get-info {
	margin-bottom: 15px;
}

.btn-rounded {
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 12px 35px;
  border: none;
  font-size: 13px;
  letter-spacing: 2px;
}


.logo-center {
	text-align: center;
	margin-top: 30px;

}


/* Footer */

footer {
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}





/* Center Bootstrap Modal */
.modal {
  text-align: center;
}

.modal .alert-success {
	margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* HOW IT WORKS SECTION */

.blue {
	background-color: #26a1e0;
}

.small-hex {
	background-image: url("../images/small-hex.svg");
	height: 76px;
	display: block;
	background-position: 0px;
	position: relative;
}

#howitworks {
	margin-top: 0;
	padding-top: 60px;
	background: #f0f0f0;
}

#howitworks p {
	font-size: 18px;
	line-height: 1.8;
	font-family: 'Open Sans', sans-serif;
}

#howitworks .tablet-container {
	background: url(../images/tablet.png) center no-repeat;
	min-height: 400px;
	padding: 66px 18% 66px 15%;
}

#howitworks .tablet-container .wistia_embed {
	margin: 0 auto;
}

.usp-wrap {
	margin-top: 60px;
	padding-bottom: 60px;
}

.app-usp .col-md-8 {
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.app-usp h3 {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0 0 20px 0;
}

.app-usp h3:after {
	display: none;
}

.app-usp .linea-icon {
    font-family: "LineaBasic";
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: none;
    color: #fff;
    position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.app-usp.left,
.app-usp.left h3 {
	text-align: right;
}

.app-usp.right,
.app-usp.right h3 {
	text-align: left;
}

.right .row .animateme:last-child .col-md-9,
.left .row .animateme:last-child .col-md-9 {
	border:none;
}
